html {
  width: auto;
}

body {
  width: auto;
}

.tile {
  width: 300px;
  height: 250px;
  margin: 10px;
  float: left;
  padding: 0px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  border: solid 1px #ddd;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.fa {
  width: 20px;
  height: 20px;
}

.tile a, h1 a {
  text-decoration: none;
  color: black !important;
}

.ss-link {
  width: 290px;
  height: 195px;
  padding: 5px;
  display: block;
  background-position: center;
  background-size: cover;
}

.ss-link .fa {
  width: 30px;
  height: 30px;
  font-size: 200%;
  text-shadow: 0px 0px 10px #fff;
  -webkit-text-stroke: 0.5px #fff;
}

img {
  float: left;
  width: 300px;
  height: 250px;
  position: absolute;
}

.title-wrap {
  width: 100%;
  height: 20px;
  position: relative;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;

}

.meta-wrap {
  height: 20px;
  display: block;
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
}


.time {
  float: right;
}

.ss-link .fa-spinner {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}